<ion-header>
  <ion-navbar>
    <ion-title>
      Your card data
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="card" (ngSubmit)="logForm()">
    <ion-card>
      <ion-card-title padding>
          Card property
      </ion-card-title>
      <!-- основная часть формы -->
      <ion-card-content>
        <ion-item>
          <ion-label>Card Number</ion-label>
          <ion-input type="tel" formControlName="cardNumber"  maxlength="20"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Card Owner</ion-label>
          <ion-input type="text" formControlName="cardOwner"></ion-input>
        </ion-item>
        <button ion-button type="submit" [disabled]="!card.valid">send</button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
